zeep-lib/test-data/inline-namespace-definition.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="messages" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/exchange/services/2006/messages">

    <xs:complexType name="ns2:GreetingType" xmlns:ns2="http://actual.com/services/hello">
        <xs:sequence>
            <xs:element name="Greeting" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GreetingRequest">
        <xs:sequence>
            <xs:element name="Body" type="ns2:GreetingType" xmlns:ns2="http://actual.com/services/hello"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>