resources/temp_converter/tempconverter.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://learnwebservices.com/services/tempconverter" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TempConverterEndpointService" targetNamespace="http://learnwebservices.com/services/tempconverter">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://learnwebservices.com/services/tempconverter" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://learnwebservices.com/services/tempconverter">
  <xs:complexType name="celsiusToFahrenheitRequest">
    <xs:sequence>
      <xs:element name="TemperatureInCelsius" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="celsiusToFahrenheitResponse">
    <xs:sequence>
      <xs:element name="TemperatureInFahrenheit" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fahrenheitToCelsiusRequest">
    <xs:sequence>
      <xs:element name="TemperatureInFahrenheit" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fahrenheitToCelsiusResponse">
    <xs:sequence>
      <xs:element name="TemperatureInCelsius" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CelsiusToFahrenheitRequest" nillable="true" type="celsiusToFahrenheitRequest"/>
  <xs:element name="CelsiusToFahrenheitResponse" nillable="true" type="celsiusToFahrenheitResponse"/>
  <xs:element name="FahrenheitToCelsiusRequest" nillable="true" type="fahrenheitToCelsiusRequest"/>
  <xs:element name="FahrenheitToCelsiusResponse" nillable="true" type="fahrenheitToCelsiusResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="CelsiusToFahrenheit">
    <wsdl:part element="tns:CelsiusToFahrenheitRequest" name="CelsiusToFahrenheitRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelsius">
    <wsdl:part element="tns:FahrenheitToCelsiusRequest" name="FahrenheitToCelsiusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CelsiusToFahrenheitResponse">
    <wsdl:part element="tns:CelsiusToFahrenheitResponse" name="CelsiusToFahrenheitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelsiusResponse">
    <wsdl:part element="tns:FahrenheitToCelsiusResponse" name="FahrenheitToCelsiusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TempConverterEndpoint">
    <wsdl:operation name="CelsiusToFahrenheit">
      <wsdl:input message="tns:CelsiusToFahrenheit" name="CelsiusToFahrenheit">
    </wsdl:input>
      <wsdl:output message="tns:CelsiusToFahrenheitResponse" name="CelsiusToFahrenheitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <wsdl:input message="tns:FahrenheitToCelsius" name="FahrenheitToCelsius">
    </wsdl:input>
      <wsdl:output message="tns:FahrenheitToCelsiusResponse" name="FahrenheitToCelsiusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TempConverterEndpointServiceSoapBinding" type="tns:TempConverterEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CelsiusToFahrenheit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CelsiusToFahrenheit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CelsiusToFahrenheitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="FahrenheitToCelsius">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="FahrenheitToCelsiusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TempConverterEndpointService">
    <wsdl:port binding="tns:TempConverterEndpointServiceSoapBinding" name="TempConverterEndpointPort">
      <soap:address location="http://www.learnwebservices.com/services/tempconverter"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>