resources/workflow_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xml.avaya.com/ws/WorkFlow/InteractionCenter/71" 
    xmlns:apachesoap="http://xml.apache.org/xml-soap" 
    xmlns:impl="http://xml.avaya.com/ws/WorkFlow/InteractionCenter/71" 
    xmlns:intf="http://xml.avaya.com/ws/WorkFlow/InteractionCenter/71" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://xml.avaya.com/ws/WorkFlow/InteractionCenter/71" 
            xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="Execute">
                <complexType>
                    <sequence>
                        <element name="flowName" type="xsd:string"/>
                        <element maxOccurs="unbounded" name="input" type="impl:AicCouple"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AicCouple">
                <sequence>
                    <element name="name" nillable="true" type="xsd:string"/>
                    <element name="value" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="ExecuteResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" name="ExecuteReturn" type="impl:AicCouple"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AicServiceFault">
                <sequence/>
            </complexType>
            <element name="fault" type="impl:AicServiceFault"/>
        </schema>
    </wsdl:types>

    <wsdl:message name="ExecuteRequest">

        <wsdl:part element="impl:Execute" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="AicServiceFault">

        <wsdl:part element="impl:fault" name="fault"/>

    </wsdl:message>

    <wsdl:message name="ExecuteResponse">

        <wsdl:part element="impl:ExecuteResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:portType name="AicWorkflow">

        <wsdl:operation name="Execute">

            <wsdl:input message="impl:ExecuteRequest" name="ExecuteRequest"/>

            <wsdl:output message="impl:ExecuteResponse" name="ExecuteResponse"/>

            <wsdl:fault message="impl:AicServiceFault" name="AicServiceFault"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="AicWorkflowSoapBinding" type="impl:AicWorkflow">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="Execute">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="ExecuteRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="ExecuteResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="AicServiceFault">

                <wsdlsoap:fault name="AicServiceFault" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="AicWorkflowService">

        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
Service to invoke Workflow in Avaya Interaction Center  </wsdl:documentation>

        <wsdl:port binding="impl:AicWorkflowSoapBinding" name="AicWorkflow">

            <wsdlsoap:address location="http://aiccore.avayacloud.com:9800/webservices/services/AicWorkflow"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>

