resources/smgr/Conferencing.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:one="http://xml.avaya.com/schema/import"
    targetNamespace="http://xml.avaya.com/schema/import_mmcs"
    elementFormDefault="qualified"
    xmlns:abc="http://xml.avaya.com/schema/import_mmcs">
<xsd:import namespace="http://xml.avaya.com/schema/import"
            schemaLocation="userimport.xsd"/>
   <xsd:complexType name="MmcsCommProfileType">
      <xsd:complexContent>
         <xsd:extension base="one:xmlCommProfileType" >
            <xsd:sequence>
               <xsd:element name="template" type="xsd:string"/>
               <xsd:element name="securityCode" type="xsd:string"/>
               <xsd:element name="moderatorPin" type="xsd:string"/>
               <xsd:element name="participantPasscode" type="xsd:string"/>
               <xsd:element name="moderatorPasscode" type="xsd:string"/>
               <xsd:element name="eventConfCode" type="xsd:string"/>
               <xsd:element name="location" type="xsd:string" minOccurs="0"/>  
               <xsd:element name="autoGeneratedCodeLength" minOccurs="0">
                 <xsd:simpleType>
                   <xsd:restriction base="xsd:int">
                     <xsd:minInclusive value="6"/>
                     <xsd:maxInclusive value="8"/>
                   </xsd:restriction>
                 </xsd:simpleType> 
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>