resources/hello/hello.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://learnwebservices.com/services/hello" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloEndpointService" targetNamespace="http://learnwebservices.com/services/hello">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://learnwebservices.com/services/hello" elementFormDefault="qualified" targetNamespace="http://learnwebservices.com/services/hello" version="1.0">

  <xs:element name="SayHello" type="tns:SayHello"/>

  <xs:element name="SayHelloResponse" type="tns:SayHelloResponse"/>

  <xs:complexType name="SayHello">
    <xs:sequence>
      <xs:element name="HelloRequest" type="tns:helloRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloRequest">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SayHelloResponse">
    <xs:sequence>
      <xs:element name="HelloResponse" type="tns:helloResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element name="Message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="SayHelloResponse">
    <wsdl:part element="tns:SayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SayHello">
    <wsdl:part element="tns:SayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloEndpoint">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHello" name="SayHello">
    </wsdl:input>
      <wsdl:output message="tns:SayHelloResponse" name="SayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloEndpointServiceSoapBinding" type="tns:HelloEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="SayHello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloEndpointService">
    <wsdl:port binding="tns:HelloEndpointServiceSoapBinding" name="HelloEndpointPort">
      <soap:address location="http://www.learnwebservices.com/services/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>